
body {
    background: cornsilk;
}

#nav {
    margin-left: 480px;
}

#nav img {
    margin-left: 160px;
}

#nav li {
    display: inline;
    max-width: 50%;
    margin: 0 auto;
}

#nav a:link,
#nav a:visited,
#nav a:active {
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: tan;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    border: dotted 4px tan;
    text-align: center;
    overflow: hidden;
    transition: .5s;
    background: darkgoldenrod;
}

#nav a:hover {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

#profile,
#work,
#blog {
    text-align: center;
}

#profile img {
    width: 100px;
    border-radius: 50%
}



#blog h1,
#profile h1,
#work h1 {
    margin: auto;
    color: tan;
    width: 110px;
    position: relative;
    padding: 0.6em;
    background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px, #ffe4b1 3px, #ffe4b1 8px);
    background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px, #ffe4b1 3px, #ffe4b1 8px);
    border-radius: 7px;
}


h1:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 100px;
    border: 15px solid transparent;
    border-top: 15px solid #ffebbe;
    width: 0;
    height: 0;
}

#kusa,
#ori {
    filter: drop-shadow(10px 10px 10px);
}

#GitButton {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 12px 0 8px;
    text-decoration: none;
    color: darksalmon;
    transition: .4s;
}

#GitButton:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top: 100%;
    left: 0;
    border-radius: 3px;
    background: darksalmon;
    transition: .2s;
}

#GitButton:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    border-radius: 3px;
    background: darksalmon;
    transition: .2s;
}

#GitButton:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}

#GitButton:hover:after {
    top: 3px;
}



